.Model-AddMember{
  display: flex;
}
.Icon-AddMember{
  font-size: 20px;
  color: rgb(167, 171, 173);
}
/* LightTheme */
.IconAddMemberLightTheme{
  color: black;
}
.Modal-Header{
  background-color: rgba(255, 255, 255, 0.959);
}
.Modal-Header > h5 > p{
  padding-left: 10px;
  margin: 0px;
}
.ModalHeaderLightTheme{
  color: white;
  background-color: #303436;
}
.ModalBody{
  height: auto;
  background-color: #F0F3F3;
}
.ModalBodyLightTheme{
  background-color: #36393F;
  color: rgb(0, 225, 255);
}
.AddMember-Filter{
  height: 50px;
  margin-top: -30px;
  margin-left: -10px;
}
.Arr-List-Member{
  margin-top: 100px;
  height: 240px;
  overflow: auto;
}
.Member-To-Add{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
}
.Img-Member-To-Add > img{
  width: 50px;
  height: 50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.Name-Member-To-Add{
  font-size: 20px;
  padding-left: 20px;
}
.Member-To-Add > .Icon-AddMember{
  cursor: pointer;
  font-size: 23px;
}
#scrollbarAddMember::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(98, 100, 100);
}

#scrollbarAddMember::-webkit-scrollbar
{
	width: 7px;
	background-color:rgba(45, 47, 52, 0.7);
}

#scrollbarAddMember::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:rgba(45, 47, 52, 0.7);
}
.ArrListMemberLightTheme#scrollbarAddMember::-webkit-scrollbar-track
{
  background-color:rgba(255, 255, 255, 0.7);
}
.ArrListMemberLightTheme#scrollbarAddMember::-webkit-scrollbar
{
  background-color:rgba(255, 255, 255, 0.7);
}
.ArrListMemberLightTheme#scrollbarAddMember::-webkit-scrollbar-thumb
{
  background-color:rgba(195, 194, 194, 0.7);
}
.User-Add-Member{
  display: flex;
  justify-content: space-between;
  align-items: center;
}