.div-change-avatar > img{
  width: 30px;
  height: 30px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  cursor: pointer;
}
.Change-Info-User-Body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  color: white;
  height: auto;
  width: auto;
}
.ChangeInfoBodyLightTheme{
  background: none;
}
.ChangeInfoBtnLightTheme{
  background: rgb(71, 70, 70) !important;
}
#exampleFile{
  padding: 0px;
}
.form-group > label{
  margin-left: 10px;
}
#exampleEmail, #examplePassword, #exampleFile{
  width: 370px !important;
  height: auto;
}
#my-file-selector{
  margin-left: 15px;
}