.ContentRoom{
  background-color: rgba(54, 57, 63, 1.0);
  flex: 3.5;
  min-height: 100vh;
  color: white;
}
.Header-ContentRoom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(44, 48, 49, 0.6);
  height: 10vh;
}
.Header-ContentRoom > p{
  margin: 0;
  font-size: 25px;
}
.Chat-Message{
  padding: 20px;
}
.Custom-Container{
  display: flex;
  border-top: solid 1px #5c5c5d;
  flex: 1;
  padding-top: 40px;
}
.Custom-Container > img {
  width: 80px;
  height: 80px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.Name-Time-Message{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.Name-Time{
  display: flex;
  align-items: center;
}
.Name-Time > p {
  margin: 0px;
}
.Name{
  padding-right: 5px;
  color: #be47f5;
}
.Time{
  padding-left: 5px;
  color: #e8f05e;
}
.Show-Message{
  display: flex;
  color: #adecee;
}
/*start code scrollbar*/

.main-room
{
  height: 80vh;
	width: 100%;
	background:rgba(54, 57, 63, 1.0);
  overflow: auto;
}

#scrollbar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(98, 100, 100);
}

#scrollbar-style::-webkit-scrollbar
{
	width: 7px;
	background-color:rgba(45, 47, 52, 0.7);
}

#scrollbar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:rgba(45, 47, 52, 0.7);
}

/*end code scrollbar*/

.Footer-ContentRoom{
  height: 10vh;
  margin: 0 20px 0 20px;
  border-top: solid 1px #5c5c5d;
}
.Footer-ContentRoom{
  padding: 20px;
}
.Message{
  display: flex;
  align-items: center;
  border: solid 1px #565856;
  height: 50px;
  background-color: #3d3e3f;
  padding: 0 10px 0;
}
.Footer-Input{
  flex: 1;
  background-color: #3d3e3f;
  height: 80%;
  border: none; /* bỏ viền */
  padding-left: 30px;
  color: #c0c0c5;
}
.Footer-Icon{
  font-size: 25px;
  color: #5c5c5d;
}
.ClickMessage{
  border: solid 1px rgb(137, 139, 139);
}
.ClickIcon{
  color: rgb(230, 230, 225);
}
.Icon-Header-ContentRoom{
  color: #8d8d92;
  font-size: 25px;
}
.Icon-Header-ContentRoom:hover{
  color: white;
}
.LightThisIcon{
  color: white;
}