.ListRoom{
  background-color:rgba(47, 49, 54, 1.0);
  flex: 1;
  min-height: 100vh;
  color: rgb(158, 161, 165);
}
.Header-ListRoom{
  display: flex;
  flex-direction: column;
  background-color:rgba(34, 34, 37, 0.5);
  height: 10vh;
  padding: 5px 10px 5px 10px;
}
.Top-Top{
  display: flex;
  justify-content: space-between;
}
.Bot-Bot{
  display: flex;
  justify-content: space-between;
}
.Bot-Header-ListRoom-Name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85px;
}
.Bot-Header-ListRoom-Name > h6{
  margin: 0;
}
.Icon-Circle{
}
input {
  width: 450px;
  padding: 5px;
  margin: 15px;
  height: 25px;
  outline:none;
}

.search-circle { 
  border: 4px inside #080;
  border-color:#439bc6;
  width: 60px;
  height: 60px;
  border-radius:50%; 
  background: #202225;
  box-shadow:3px 2px 2px  rgba(21, 153, 219, .5);
  transition: all 1s ease;
  float:left;
  color: gray;
}

.search-circle:hover,
.search-circle:focus {
  width: 70%;
  border-radius:3%;
}

.search-bar {
  position: relative;
  float:left;
  border-left:3px solid #000;
	border-right:2px solid #ddd;
  height:45px;
  background:#ddd;
  left: 0.5%;
  top: 65px;
  transform: rotate(-45deg);
	box-shadow: 0 1px 2px 1px rgba(239, 33, 85, .5);
}
.Body-ListRoom{
  display: flex;
  flex-direction: column;
}
.Show-ListRoom{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.Room{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.Icon-And-NameRoom{
  display: flex;
  align-items: center;
  font-size: 20px;
  flex: 8;
}
.AddMember-And-NotificationUnRead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  flex: 2;
}
.NotificationUnRead{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	--border-radius: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}
/* chỉ áp dụng hover khi the không có class 'RemoveHover' */
.Room:not(.RemoveHover):hover{  
  background-color: rgba(245, 231, 231, 0.3);
  cursor: pointer;
}
.NameRoom{
  padding-left: 8px;
}
.RemoveHover{
  background-color: rgba(189, 174, 174, 0.2);
}
.RoomSelected{
  background-color: rgba(189, 174, 174, 0.2);
}
.RoomSelected > .NotificationUnRead{
  display: none;
}
.RoomSelected:hover{
  cursor: pointer;
}
.wrapper{
  top: 10px;
  position: relative;
  left: 10%;
}
.Icon-Left{
  color: gray;
}
.NotificationRead{
  display: none;
}
.MoveToCenter{
  justify-content: center;
}
.Top-Header-ListRoom{
  display: flex;
  color: rgb(0, 108, 250);
}
.Bot-Header-ListRoom{
  display: flex;
  align-items: center;
}
.Bot-Header-ListRoom > h6{
  padding-left: 5px;
  margin: 0px;
}
.Icon-Circle{
  font-size: 12px;
  color: rgb(54, 250, 64);
}
/* LightTheme */
.ListRoomLightTheme{
  background: #f0f3f3;
  color: black;
}
.HeaderListRoomLightTheme{
  background: #f0f3f3;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .10);
}
.HeaderListRoomLightTheme > .Top-Header-ListRoom >h4{
  color: #eb5454;
}
.IconAndNameRoomLightTheme > .Icon-Left{
  color: black;
}
.SearchCircleLightTheme{
  background: #f0f3f3;
}
.HideNotificationRead{
  display: none;
}
.LogOut{
  cursor: pointer;
}
.create-room{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}
.create-room > p{
  font-size: 18px;
  margin: 0;
  padding-top: 1px;
}