.App {
  display: flex;
  font-family: 'Pacifico', cursive;
  max-height: 100vh;
  max-width: 100vw;
}
html,body{
  overflow: hidden;
}
.BackGroundIMG {
  background:url(https://images.wallpaperscraft.com/image/misaki_kurehito_nakano_hinata_girl_kimono_fireworks_look_34847_1600x900.jpg) no-repeat center;
}